<div class="min-vw-100 min-vh-100 d-flex">
  <div
    class="d-none d-lg-flex flex-column justify-content-center align-items-center p-5 w-50"
    style="background-color: var(--primary-color)"
  >
    <div
      class="w-100 h-75"
      style="
        background-image: url('../../../assets/images/login-ilustration.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      "
    ></div>

    <div class="d-flex flex-column gap-3 mt-3 text-white">
      <h2 class="fs-5 fw-bold text-center">
        Transformando Dados em Relacionamentos Valiosos
      </h2>
      <span class="fs-8 text-center"
        >O Cliente Feliz permite que você transforme informações em conexões
        significativas com seus clientes. Cadastre, acompanhe e melhore os
        relacionamentos de forma eficaz</span
      >
    </div>
  </div>
  <div
    class="d-flex flex-column justify-content-center align-items-center p-3 flex-fill gap-5"
  >
    <img
      src="../../../assets/images/logo.svg"
      alt="Logo Cliente Feliz"
      width="80"
      height="80"
    />
    <span>Bem vindo ao Cliete Feliz</span>
    <form [formGroup]="formulario" class="w-100">
      <div
        class="w-100 d-flex flex-column gap-5 justify-content-center align-items-center"
      >
        <div class="w-50">
          <label for="inputEmail" class="form-label text-body-tertiary"
            >E-mail</label
          >
          <input
            [(ngModel)]="user.email"
            type="email"
            class="form-control placeholderInput border-0 border-bottom rounded-0"
            id="inputEmail"
            placeholder="email@exemple.com"
            formControlName="email"
            [class]="
              formulario.controls['email'].errors && user.email !== ''
                ? 'border border-danger'
                : ''
            "
          />
          <div *ngIf="formulario.controls['email'].errors && user.email !== ''">
            <small
              class="text-red"
              *ngIf="
                formulario.controls['email'].errors.required &&
                user.email !== ''
              "
              >* Campo é obrigatório.</small
            >
            <small
              class="text-red"
              *ngIf="
                formulario.controls['email'].errors.email && user.email !== ''
              "
              >* Digite um e-mail valido.</small
            >
          </div>
        </div>
        <div class="w-50 d-flex flex-column">
          <label for="inputPassword" class="form-label text-body-tertiary"
            >Senha</label
          >
          <input
            [(ngModel)]="user.password"
            type="password"
            class="form-control placeholderInput border-0 border-bottom rounded-0"
            id="inputPassword"
            formControlName="password"
            placeholder="*******"
            [class]="
              formulario.controls['password'].errors && user.password !== ''
                ? 'border border-danger'
                : ''
            "
          />
          <div
            *ngIf="
              formulario.controls['password'].errors && user.password !== ''
            "
          >
            <small
              class="text-red"
              *ngIf="
                formulario.controls['password'].errors.required &&
                user.password !== ''
              "
              >* Campo é obrigatório.</small
            >
          </div>
          <button
            (click)="navigate('/esqueci-minha-senha')"
            class="btn align-self-end text-body-tertiary"
          >
            Esqueceu a senha?
          </button>
        </div>
        <button
          (click)="validatedFields()"
          type="submit"
          class="btn btn-primary w-50"
          [disabled]="isLoading"
        >
          {{ isLoading ? "Carregando..." : "Entrar" }}
          <div
            *ngIf="isLoading"
            class="spinner-border spinner-border-sm"
            role="status"
          ></div>
        </button>

        <button (click)="navigate('/registrar')" class="btn text-body-tertiary">
          É novo aqui?
          <span style="color: var(--secondary-color)">Crie sua conta</span>
        </button>
      </div>
    </form>
  </div>
</div>
